html {
    height: 100%;
}

body {
    height: 100%;
}

.main{
    position: relative;
    min-height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    border: 1px solid black;
}

th {
    min-width: 50px;
    padding: 0 5px;
}