.main{
    margin-top: -21px;
    position: relative;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    border: 1px solid black;
}

th {
    min-width: 50px;
    padding: 0 5px;
}